/* var */

:root {
  --fundo: #ffffff;
  --fundo2: rgb(255, 191, 0);
  --hover: rgb(183, 137, 0);
  --botao: rgb(0, 0, 155);
  --letras: rgb(251, 218, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SN Pro", sans-serif;
}
/* HEADER */

.header {
  width: auto;
  padding: 25px;
  background-color: var(--fundo);
  display: flex;
  align-items: center;
  justify-items: center;
}

.logo {
  width: 250px;
}

.links {
  font-family: "SN Pro", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: black;
  list-style: none;
  padding: 1rem;
  display: flex;
  gap: 4rem;
}
.link1 {
  color: var(--letras);
  text-decoration: none;

  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
  padding-left: 120px;
}
.link1:hover {
  color: var(--hover);
}
.link2 {
  color: var(--letras);
  text-decoration: none;

  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}
.link2:hover {
  color: var(--hover);
}
.link3 {
  color: var(--letras);
  text-decoration: none;

  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

.link3:hover {
  color: var(--hover);
}
.link4 {
  color: var(--letras);
  text-decoration: none;

  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

.link4:hover {
  color: var(--hover);
}

.link5 {
  color: var(--letras);
  text-decoration: none;

  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

.link5:hover {
  color: var(--hover);
}

/* ICONES */

.icones {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  padding-right: 13rem;
}

.icone {
  width: 25px;
}

/* MAIN */

.main {
  background-color: var(--fundo2);
}

.oferta {
  font-family: "SN Pro", sans-serif;
  text-align: center;
  margin: 5px;
  font-weight: 600;
}

.oferta-texto {
  font-family: "SN Pro", sans-serif;
  color: rgba(255, 255, 255, 0.707);
}

/* CAROUSEL */

.carousel-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-color: #000;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.85);
}

.slide-content {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1000px;
  text-align: center;
  color: white;
  z-index: 2;
}

.slide-content h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  line-height: 1.2;
}

.btn-cta {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  background: linear-gradient(90deg, var(--botao) 0%, var(--botao) 100%);
  color: white;
  padding: 15px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 4px 15px rgba(81, 45, 168, 0.5);
  transition: transform 0.2s;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.btn-cta:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, var(--botao) 0%, var(--botao) 100%);
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  z-index: 10;
  padding: 20px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav-btn:hover {
  opacity: 1;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* CAIXA */

.caixa {
  background-color: var(--fundo2);
  color: #111;
  text-align: center;
  padding: 50px 20px;
}

.caixa h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: -0.5px;
  font-family: "SN Pro", sans-serif;
}

.caixa p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
  color: #333;
  font-family: "SN Pro", sans-serif;
}

.atracoes-secao {
  background-color: var(--fundo);
  padding: 60px 20px;
  text-align: center;
}

.atracoes-secao h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000;
  font-family: "SN Pro", sans-serif;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border: 3px solid #000;
  border-radius: 20px;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.card h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000;
  font-family: "SN Pro", sans-serif;
}

.card p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.4;
  font-family: "SN Pro", sans-serif;
}

/* TICKETS */

.tickets-secao {
  background-color: #000;
  padding: 60px 20px;
  font-family: "SN Pro", sans-serif;
  text-align: center;
  color: white;
}

.tickets-secao h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tickets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.ticket-card {
  background: radial-gradient(circle, #ffffff 50%, #dcdcdc 100%);
  color: #000;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  text-align: center;
  position: relative;
  border: 5px solid transparent;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.ticket-card.principal,
.ticket-card:hover {
  background:
    radial-gradient(circle, #ffffff 50%, #dcdcdc 100%) padding-box,
    linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet)
      border-box;

  transform: scale(1.05);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.2),
    0 10px 30px rgba(0, 255, 255, 0.2);
  z-index: 2;
}

.ticket-card:hover {
  transform: scale(1.1);
  z-index: 10;
  cursor: pointer;
}

.ticket-icon {
  font-size: 3rem;
  margin-bottom: 10px;
  display: block;
}

.ticket-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.ticket-card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 20px;
}

.ticket-preco {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 25px;
  display: block;
}

.btn-comprar {
  background-color: var(--botao);
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: 600;
  display: inline-block;
  transition: background 0.3s;
  border: 2px solid transparent;
}

.btn-comprar:hover {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border: none;
  transform: translateY(-2px);
}

/* MAPA */

.mapa-secao-rodape {
  background-color: var(--fundo);
  padding: 60px 20px 40px;
  font-family: "SN Pro", sans-serif;
  color: #111;
  text-align: center;
}

.mapa-secao-rodape h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.logo-mapa {
  width: 300px;
}

.mapa-container img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-bottom: 40px;
}

/* RODAPÉ */

.secao-rodape {
  background-color: var(--fundo2);
}

.divisor-do-rodape {
  height: 2px;
  background-color: #000;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto 40px auto;
}

.container-do-rodape {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  gap: 30px;
  padding-bottom: 30px;
}

.rodape h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}



.esquerda-do-rodape,
.direita-do-rodape, .centro-do-rodape {
  text-align: center;
  display: flex;
  flex-direction: column; /* Isso força ficar um embaixo do outro */
  gap: 10px; /* Espaço entre cada link */
}

.contato {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  transition:
    color 0.3s ease;
    text-decoration: 0.3s ease;
}

.contato:hover {
  color: var(--hover);
}

.link-atalho {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  transition:
    color 0.3s ease;
    text-decoration: 0.3s ease;
}
.link-atalho:hover {
  color: var(--hover);
}

.duvidas {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  transition:
    color 0.3s ease;
    text-decoration: 0.3s ease;
}

.duvidas:hover {
  color: var(--hover);
}
